@inherits LayoutComponentBase
@inject AppState AppState
<div class="main">
    
    
    
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <div class="my-0 mr-md-auto font-weight-normal oi-resize-height">
            @if (AppState.CurrentExamLogo != null)
            {
                <img style="max-height: 40px;" class="h-25" src="@AppState.CurrentExamLogo"/>
            }
        </div>
        <p class="lead">@AppState?.CurrentExamTitle - Blazor Quiz</p>
    </div>

    <div class="content px-4" >
        @Body
    </div>
</div>


@code
{

    protected override Task OnInitializedAsync()
    {

        AppState.OnChange += OnAppStateChanged;

        return base.OnInitializedAsync();
    }

    private void OnAppStateChanged()
    {
        StateHasChanged();
    }

}
