@inherits LayoutComponentBase
@inject AppState AppState
<div class="main">
    <div class="top-row px-4">
        @AppState?.CurrentExamTitle - Blazor Quiz
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>


@code
{

    protected override Task OnInitializedAsync()
    {

        AppState.OnChange += OnAppStateChanged;

        return base.OnInitializedAsync();
    }

    private void OnAppStateChanged()
    {
        StateHasChanged();
    }

}
