@page "/"
@using System.Runtime.CompilerServices
@inject ClientAppSettings AppSettings


<div class="jumbotron">
    <h1 class="display-4">Welcome to Blazor Quiz</h1>
    <p class="lead">This app demonstrate the capabilities of creating a simple app with Blazor Webassembly and Azure Functions.</p>
    <p>You need an exam code to use it.</p>
    <hr class="my-4">
    <p>Current environment: <span class="badge badge-primary">@AppSettings.EnvironmentName</span></p>
</div>

@code
{
    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }
}

