@page "/{ExamId}/start"
@page "/{ExamId}"
@using BlazorQuiz.FrontEnd.Services

@if (ExamService.CurrentExam == null)
{
    <h3>Start Exam</h3>
    @if (!ExamLoadFailed)
    {
        <p>Exam is loading, please wait...</p>
    }
    else
    {
        <p>Your exam code is invalid.</p>
    }
}
else
{

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-5 col-sm-5">
                <div class="card-deck mb-3 text-center">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">@ExamService.CurrentExam.ExamTitle</h4>
                        </div>
                        <div class="card-body">
                            @switch (PageState)
                            {
                                case CurrentPageState.Identity:
                                    <BlazorQuiz.FrontEnd.Pages.PageComponents.StartExamPageIdentityComponent CurrentCandidate="@CurrentCandidate" NumberOfQuestions="@ExamService.CurrentExam.Questions.Count" />
                                    <button type="button" class="btn btn-lg btn-block btn-outline-info" @onclick="NextPageState">Next</button>
                                    break;
                                case CurrentPageState.Picture:
                                    <h5>Candidate Picture</h5>
                                    // TODO: Picture
                                    <button type="button" class="btn btn-lg btn-block btn-outline-info" @onclick="NextPageState">Next</button>
                                    break;
                                case CurrentPageState.Contract:
                                    <h5>Remote Exam contract</h5>
                                    <ul>
                                        <li>You confirm that you only have one screen attached to your device</li>
                                        <li>You're conducting this exam in good faith, without any attemp to cheat</li>
                                        <li>You're not impersonating someone, and/or use any help from anybody during this exam.</li>
                                        <li>Your personal and exam data (incuding whenether you're switching windows, timings and clicks) will be securely stored for further analysis.</li>
                                    </ul>
                                    // TODO
                                    <button type="button" class="btn btn-lg btn-block btn-outline-info" @onclick="NextPageState">Next</button>
                                    break;
                                case CurrentPageState.StartExam:
                                    <h5>Are you ready?</h5>
                                    <hr />

                                    @if (string.IsNullOrEmpty(ExamService.CurrentExam.AccessCode))
                                    {
                                        <button type="button" class="btn btn-lg btn-block btn-outline-primary" @onclick="StartExam">Start the exam</button>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="examAccessCode">Exam access code</label>
                                            <input type="text" autocomplete="off" class="form-control" @bind-value="AccessCode" id="examAccessCode" placeholder="Exam Access Code" @bind-value:event="oninput" @onkeyup="KeyPressed">
                                        </div>
                                    }
                                    break;
                                default:
                                    break;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
